<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/general :: header ('Hello!')}">
</head>
<body>
    <div th:replace="fragments/general :: navbar"></div>
    <div class="container">
        <h3>Creating new post</h3>
        <hr>
        <form action="#" th:action="@{/save-post}"
              th:object="${post}" method="POST">
            <input type="text" th:field="*{title}"
                   class="form-control mb-4 col-4" placeholder="Title"/>
            <textarea th:field="*{body}"
                      class="form-control mb-4" rows="10" placeholder="Body"></textarea>
            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>
    </div>
</body>
</html>