<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<div class="container">
    <h3>All posts</h3>
    <hr>
    <div>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/new-post}"
           class="btn btn-info btn-sm mb-3">
            Add Post
        </a>
        <p sec:authorize="isAnonymous()"><a th:href="@{/login}">Log in</a> as admin to add posts</p>
    </div>

    <div th:each="post : ${posts}">
        <h2><a th:text="${post.title}">Title</a></h2>
        <p><small th:text="${post.date}"></small><small> by: </small><small th:text="${post.user.username}"></small></p>
        <p th:text="${#strings.abbreviate(post.body,200)}">Body </p>
        <a th:href="@{/post(id=${post.id})}">Read more >></a>
        <hr>
    </div>
</div>


</body>
</html>