<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragments/general :: header ('Hello!')}">

<body>
<div th:replace="fragments/general :: navbar"></div>

<!---- POSTS ---->

<div class="container">
    <h3>All posts</h3>
    <hr>
    <div>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/new-post}"
           class="btn btn-info btn-sm mb-3">
            Add Post
        </a>
        <p sec:authorize="isAnonymous()"><a th:href="@{/login}">Log in</a> as admin to add posts</p>
    </div>

    <div th:each="post : ${posts}">
        <h2><a th:text="${post.title}">Title</a></h2>
        <p><small th:text="${post.date}"></small><small> by: </small><small th:text="${post.user.username}"></small></p>
        <p th:text="${#strings.abbreviate(post.body,200)}">Body </p>
        <a th:href="@{/post(id=${post.id})}">Read more >></a>
        <hr>
    </div>
</div>

<!---- PAGINATION ---->

<nav aria-label="Pagination" th:if="${posts.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-bold">
        <li class="page-item" th:classappend="${posts.number eq 0} ? 'disabled'">
            <a class="page-link"
               th:href="@{/posts?page={id}(id=${posts.number lt 2 ? 1 : posts.number})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq posts.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( 1, posts.totalPages, 1)}">
            <a class="page-link" th:href="@{/posts?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
        </li>
        <li class="page-item" th:classappend="${posts.number + 1 eq posts.totalPages} ? 'disabled'">
            <a class="page-link"
               th:href="@{/posts?page={id}(id=${posts.number + 2})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>